<%- include('../partials/header') %>

                <h1 class='hdr'>Car Reviews</h1>
                <p class='title-description'>Wanna see a review for a car? Or even make one? Then you've come to the right place</p>
    <div class='carTable'>
        <table class='key'>
            <thread>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Date Posted</th>
                    <th>Author</th>
                </tr>
            </thread>
            <tbody>
                <% cars.forEach(function(c){ %>
                    <tr class='content'>
                        <td><%= c.make %></td>
                        <td><%= c.model %></td>
                        <td><%= c.year %></td>
                        <td><%= c.posted.toLocaleDateString() %></td>
                        <td><%= c.author %> </td>
                        <td><a class='allButtons' href="/cars/<%= c.id %>">DETAILS</a></td>
                    </tr>
                    <% }) %> 
            </tbody>
        </table>
    </div>
    
    <%- include('../partials/footer') %>