<%- include('../partials/header') %>
<h2 class='title'>Details</h2>
<div class='carTable'>
    <table class='content'>
        <thread>
            <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Posted</th>
    <th>Description</th>
</tr>
</thread>
<tbody>
    <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.posted.toLocaleDateString() %></td>
        <td><%= car.description %> </td>
    </tr>
</tbody>
</table>
</tr>
</div>
<br>
<div>
    <dir>
        <h3 class='white-text'>Comments</h3>
    <% if (car.reviews){ %>
        <% car.reviews.forEach(function(r) { %>
            <% if (!user) { %>
                <tr>
                    <div class='show-comments'>
                        <td>
                            <%= r.userName %> 
                            <%= r.posted.toLocaleDateString()%>
                            <br>
                            <%= r.text %>
                        </td>
            <% } else if (r.userId.equals(user._id)) {%>
                    <div class='show-comments'>
                        <td>
                            <%= r.userName %>
                            <%= r.posted.toLocaleDateString() %>
                            <br>
                            <%= r.text %>
                        </td>
                        <form id="edit-comment-form"
                            action="/cars/<%= car._id %>/reviews/<%= r._id %>?_method=PUT"
                            method="POST">
                            <textarea name="text" required></textarea><br>
                            <input type="submit" value="Update Comment">
                        </form>
                        <form id="delete-comment-btn"
                         action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
            <% } else if (user) {%>
                <div class='show-comments'>
                    <td>
                        <%= r.userName %> 
                        <%= r.posted.toLocaleDateString() %>
                        <br>
                        <%= r.text %>
                    </td>
                    <% } %>
                </div>
                </tr>
                <br>
                <% }); %>
                    <% } else { %>
                        <h5>No Comments Yet</h5>
                        <% } %> 
</dir>
<% if (user) { %>
<form class='content' id="add-comment-form" method="POST" action="/cars/<%= car._id %>/reviews">
    <label class='textW'>Comment</label>
    <textarea name="text" required></textarea>
    <input class='allButtons' type="submit" value="Add Comment">
</form>
<% } else { %>
    <h1 class='title'>Log in to make a comment</h1>
    <% } %>

<%- include('../partials/footer') %>