<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <img class='img' src='/images/durk.jpeg'>
    <nav>
        <a class='allLinks' href='/cars/new'>Create Car</a>
        <a class='allLinks' href='/'>Home</a>
        <% if (user) { %>
            <a class='allLinks' href='/logout'>Log Out</a>
            <span>Hello <%= user.name %> </span>
            <% } else { %>
                <a class='allLinks' href='/auth/google'>Log In</a>
                <% } %>
                </nav>
                <section>
                <table>
                    <tr>
                        <th class='content'>Make:</th>
                        <th class='content'>Model:</th>
                        <th class='content'>Year:</th>
                        <th class='content'>Posted:</th>
                        <th class='content'>Author:</th>
                        <th class='content'>Description:</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class='content'><%= car.make %></td>
                        <td class='content'><%= car.model %> </td>
                        <td class='content'><%= car.year %> </td>
                        <td class='content'><%= car.posted %> </td>
                        <td class='content'><%= car.author %> </td>
                        <td class='content'><%= car.description %> </td>
                    </tr>
                </table>
            </section>
        </body>
</html>